@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.ActionLink("View All Sales", "Sales")
</h2>
<h2>
    @Html.ActionLink("View All Managers", "Managers")
</h2>
<h2>
    @Html.ActionLink("View Managers sales chart", "ManagersChart")
</h2>

